# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

- R
- Python
- JavaScript
- SQL

Some of the popular languages that Data Scientists use are:

- dyplr
- ggplot
- caret
- pandas

# Data Science Tools

---
Github


---

Rstudio


---

Visual Studio


---

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Understand key libraries used in Data Science (e.g., Pandas, NumPy)
- Learn about Data Science tools and ecosystems
- Convert time units (e.g., minutes to hours)
- Explore the workflow for performing data analysis

  ## Author

  Iveth GÃ³mez Morales